# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Virtual environment
venv/
ENV/
env/

# Database files (DO NOT upload)
db.sqlite3

# Django collectstatic output (if used)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Replit
.replit
