{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikita Global Realty</title>
    <link rel="icon" type="image/png" href="{% static 'images/digital_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    {% include 'popup.html' %}
    {% include 'help-tool.html' %}
    {% block content %}
    {% endblock %}




</body>